In [1]:
range(20)
for temp in range(20):
 print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for i in range(10, 20):
 print(i, end=" ")

10 11 12 13 14 15 16 17 18 19

In [3]:
List2 = [10, 20, 14 ,55 ,43 ,87 ,76 ]
print(List2)
print("Number of item in the List2: ")
print(len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [4]:
print("Artificial Intelligence")
s = "Artificial Intelligence"
for i in s :
 print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [5]:
list = ["-Your Name-", "-Your Age-", "-Your Profession-"]
for i in list:
 print(i)

-Your Name-
-Your Age-
-Your Profession-

In [6]:
Tuple = (1, 'Welcome', 2, 'Hope')
print(Tuple)

(1, 'Welcome', 2, 'Hope')

In [7]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
Tuple3 = (Tuple1, Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [22]:
num=[20,10,16,19,25,1,276,188]
print("(20,10,16,19,25,1,276,188)")
for i in num:
 if i % 2 == 1:
     print(i,"is odd")

(20,10,16,19,25,1,276,188)
19 is odd
25 is odd
1 is odd

In [20]:
num=[20,10,16,19,25,1,276,188]
print("(20,10,16,19,25,1,276,188)")
for i in num:
 if i % 2 == 0:
     print(i,"is odd")

(20,10,16,19,25,1,276,188)
20 is odd
10 is odd
16 is odd
276 is odd
188 is odd