In [2]:
age = int(input("Enter your age: "))
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Enter your age:  32

You are eligible to vote.

In [3]:
numbers = [12, 45, 7, 89, 23, 67]

In [4]:
numbers.sort()
print("The largest number is:", numbers[-1])

The largest number is: 89

In [7]:
salary = float(input("Enter your salary: "))

if salary > 50000:
    bonus = salary * 0.10
else:
    bonus = 0

print("Your bonus amount is:", bonus)

Enter your salary:  78000

Your bonus amount is: 7800.0

In [10]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
    print("{0} is Even number".format(num))
else:
    print("{0} is Odd number".format(num))

Enter a number:  78

78 is Even number

In [11]:
text = input("Enter a word or sentence: ")

# Reverse using slicing
reversed_text = text[::-1]

print("Reversed text:", reversed_text)

Enter a word or sentence:  PRABHAKARAN

Reversed text: NARAKAHBARP

In [12]:
score = int(input("Enter your mark: "))

if score >= 40:
    print("You have Passed.")
else:
    print("You have Failed.")

Enter your mark:  55

You have Passed.

In [14]:
order_amount = float(input("Enter your total order amount: "))

if order_amount > 100:
    discount = order_amount * 0.20
else:
    discount = 0

final_amount = order_amount - discount

print("Discount amount is:", discount)
print("Final amount to be paid:", final_amount)

Enter your total order amount:  5800

Discount amount is: 1160.0
Final amount to be paid: 4640.0

In [15]:
balance = int(input("Enter your current balance: "))
withdraw = int(input("Enter withdrawal amount: "))

if withdraw <= balance:
    balance = balance-withdraw
    print("Withdrawal successful!")
    print("Current balance:", balance)
else:
    print("Insufficient balance. Transaction denied.")

Enter your current balance:  6000
Enter withdrawal amount:  300

Withdrawal successful!
Remaining balance: 5700

In [16]:
year = int(input("Enter a year: "))

if (year % 4 == 0):
    print(year, "is a Leap Year")
else:
    print(year, "is Not a Leap Year")

Enter a year:  2026

2026 is Not a Leap Year

In [21]:
numbers = [12, 7, 9, 24, 18, 33, 40]
for num in numbers:
    if num % 2 == 0:
        print("Even number:", num)

Even number: 12
Even number: 24
Even number: 18
Even number: 40